@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Teko&display=swap');

body {
	height: 100%;
}

html, body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	opacity: 0.7;
}

input[type=submit] {
	padding: 10px 15px;
	border-radius: 5px;
}

input[type=submit]:hover {
	background-color: black;
	color: white;
}

fieldset {
	padding: 15px;
	color: slate-grey;
}

legend {
	color: #333333;
}

input {
	margin: 5px;
}

select {
	margin: 5px;
}

header {
	position: fixed;
	top: 0;
	
	height: 70px;
	width: 100%;
	background-color: black;
	color: white;
}

body {
	
}

#main-container {
	margin: auto;
	margin-top: 75px;
	padding: 20px;
	
	width: 100%;
	
}

/* packages - two boxes on welcome screen for product selection */
#package-select {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	
	height: 100%;
	width: 100%;
	
	margin-top: 20px;
	padding: 10px;
}
.packages {
	
	height: 400px;
	width: 300px;
	background-color: orange;
	
	border: 1px solid black;
	border-radius: 10px;
	
	margin: 20px;
}

#top-name {
	display: inline-block;
	font-family:'Teko', sans-serif;
}

#top-button-box {
	position: absolute;
	right: 20px;
	margin: 40px;
}

.top-button {
	margin: 10px;
	padding: 5px;
}

.extra-padding {
	padding: 10px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 36px;
	
	background-color: silver;
}